image: debian:10.8

before_script:
  - apt update
  - apt install -y gcc make python3-pip python3
  - python3 -m pip install poetry

build:
  stage: build
  tags:
    - linux
  script:
    - make ci
    - bash .ci/debian10.sh
